In [0]:
import numpy as np

In [0]:
arr1=np.arange(20).reshape(4,5)
arr1

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19]])

In [0]:
# Q1 Write a numpy code to swap col1([0,5,10,15]) with col4([3,8,13,18])
# Hint----> Fancy Indexing
arr20=arr1
arr20[:,[0,3]]=arr20[:,[3,0]]
arr20

array([[ 3,  1,  2,  0,  4],
       [ 8,  6,  7,  5,  9],
       [13, 11, 12, 10, 14],
       [18, 16, 17, 15, 19]])

In [0]:
arr1=np.arange(20).reshape(4,5)
arr1

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19]])

In [0]:
# Q2 Write a numpy code to reverse the rows of arr1
# The output should be [15, 16, 17, 18, 19] as first row and [ 0,  1,  2,  3,  4] as last row
arr50=arr1
x=arr50.shape[0]
i=-1
jump=0
while(1):
  i=i+1
  arr50[[x-1,i],:]=arr50[[i,x-1],:]
  x=x-1
  jump=jump+1
  if(jump==2):
    break
arr50

array([[15, 16, 17, 18, 19],
       [10, 11, 12, 13, 14],
       [ 5,  6,  7,  8,  9],
       [ 0,  1,  2,  3,  4]])

In [0]:
arr6=np.array([[1,2,np.nan],[4,5,6],[np.nan,np.nan,9]])
arr6

array([[ 1.,  2., nan],
       [ 4.,  5.,  6.],
       [nan, nan,  9.]])

In [0]:
# Q3 Write a code to replace all the nan(missing values) of arr6 with the mean of arr6
arr7=np.nan_to_num(arr6)
arr7

array([[1., 2., 0.],
       [4., 5., 6.],
       [0., 0., 9.]])

In [0]:
a=arr7[arr7!=0].mean()
a
arr8=np.where(arr7==0.0,a,arr7)
arr8

array([[1. , 2. , 4.5],
       [4. , 5. , 6. ],
       [4.5, 4.5, 9. ]])

In [0]:
arr10=np.random.randint(low=1,high=100,size=20).reshape(5,4)
arr10

array([[17,  5, 54, 90],
       [94,  1, 68, 68],
       [97, 11, 71, 90],
       [98, 51, 57, 53],
       [68, 10, 73, 91]])

In [0]:
# Q4 Write a code which can fetch all items from arr10 which are either greater than 25 or a multiple of 3
a= arr10[(arr10>25)&(arr10%3!=0) | (arr10%3==0)&(arr10<=25)]
a

array([94, 68, 68, 97, 71, 98, 53, 68, 73, 91])

In [0]:
# Q5 Write a code to find the 10th, 25th, 50th(median) percentile of arr10
# Percentiles are a very important concept in Statistics. If you don't know about it refer the video below
# https://www.youtube.com/watch?v=Snf6Wpn-L4c
# Hint: to solve this function google np.percentile()
arr11=arr10.ravel()
arr12=np.sort(arr11)
arr12

array([ 1,  5, 10, 11, 17, 51, 53, 54, 57, 68, 68, 68, 71, 73, 90, 90, 91,
       94, 97, 98])

In [0]:
np.percentile(arr10,10)

9.500000000000002

In [0]:
arr11=arr10.ravel()
arr12=np.sort(arr11)
val=(10/100)*21
perc=(val+val+1)/2
inte2=int(perc)
inte2
arr12[inte2]

10

In [0]:
np.percentile(arr10,25)

42.5

In [0]:
arr11=arr10.ravel()
arr12=np.sort(arr11)
val=(25/100)*21
perc=(val+val+1)/2
inte2=int(perc)
inte2
arr12[inte2]

51

In [0]:
np.percentile(arr10,50)

68.0

In [0]:
arr11=arr10.ravel()
arr12=np.sort(arr11)
val=(50/100)*21
perc=(val+val+1)/2
inte2=int(perc)
inte2
arr12[inte2]

68